:root {
    --orange-color: #ff4500;
    --pink-color: #ff5517;
    --link-color: #111;
    --hover-color: #bbb;
    --shadow-color: #ccc;
    --border-color: #babbff;
    --light-grey-color: #F7F7F7;
}

html {
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    /* asdasdfdsfs */
    /* y8g3ff5f^53f2vsad */
}

.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
.header {
    max-width: 1300px;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-radius: 0 0 .7rem .7rem;
    box-shadow: 0 3px 10px var(--shadow-color);

    padding: 1.5rem;
    background-color: #fff;
}
.header > ul {
    display: flex;
}
.register:hover, .login:hover {
    background-color: var(--orange-color);
    color: #fff;
}
.header__logo {
    font-size: 1.5rem;
    color: var(--orange-color);
    cursor: pointer;
    font-weight: 600;
}
.header__menu_link {
    margin-left: 1rem;
}
.header__menu_link > a {
    color: var(--link-color);
    padding: .3rem .7rem;
    border-radius: 1.04rem;

    transition: .3s;
}
.header__menu_link-for:hover {
    background-color: var(--hover-color);
    box-shadow: 0 1px 2px grey;
}
.hello-user {
    font-weight: 600;
    color: var(--orange-color);
    margin-left: 1rem;
    cursor: pointer;
}